

<h2>Order Summary</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва продукту</th>
            <th>Кількість</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
            </tr>
        }
    </tbody>
</table>
